@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Unbounded:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 20px;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #639FAB;
    border-radius: 20px;
    border: 6px solid transparent;
    background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #5f919b;
}

::-webkit-scrollbar-thumb:active {
    background-color: #639FAB;
}

img::-webkit-scrollbar {
    display: none;
}

.navbar {
    font-family: 'Unbounded', sans-serif;
}

body {
    color: #FFFFFF;
    background-color: #222222;
}

.dropdown-menu {
    position: relative;
    float: left;
}


.cv {
    font-family: 'Josefin Sans', sans-serif;
    padding: 1%;
    border-radius: 10px;
    background-color:#7aa8b1;
    min-height: 30px;
}

.row {
    padding: 1%;
}

.preview_cv {
    display: none;
}

.color {
    background-color: #639FAB;
    border-color: #639FAB;
}

.download_cv:hover {
    background-color: #FFFFFF;
    color: #000000;
}

.language:hover {
    background-color: #FFFFFF;
    color: #639FAB;
    border-color: #639FAB;
}

.navbar {
    background-color: #639FAB;
    border-color: #639FAB;
}